<div
  class="pvdmOffCanvasNav"
  ng-class="{active:sidebar.navService.active}">

  <!-- Main nav -->
  <nav class="pvdmNavAccordian--group navmenu navmenu-default navmenu-fixed-left">

    <!-- Manage -->
    <div class="pvdmNavAccordian pvdm-manage">

      <nav class="pvdmNavAccordian--collapse">

        <li>
          <a translate
            href="#/assessment_form"
            class="pvdm-ocn-link"
            ng-click="sidebar.closeNav()">
              Admission Assessment
          </a>
        </li>
        
        <li>
          <a translate
            href="#"
            class="pvdm-ocn-link"
            ng-click="sidebar.closeNav()">
              Quarterly Assessment
          </a>
        </li>

      </nav>
    </div>

  </nav>
</div>
