<!--Header-->
<pvdm-page-header
      ng-if="dqiCtrl.singlePage"
      header="DQI MDS File Template">
  <pvdm-header-actions>
    <button
      ng-if="dqiCtrl.singlePage"
      type="button"
      class="btn btn-default"
      ng-click="dqiCtrl.viewBatch()">
        <span translate>assessments.batch</span>
    </button>
  </pvdm-header-actions>
</pvdm-page-header>
<pvdm-page-header
      ng-if="dqiCtrl.batch"
      header="Batch Creation">
  <pvdm-header-actions>
    <button
      ng-if="dqiCtrl.batch"
      type="button"
      class="btn btn-default"
      ng-click="dqiCtrl.viewSinglePage()">
        <span translate>assessments.single</span>
    </button>
  </pvdm-header-actions>
</pvdm-page-header>
<!--Form-->
<ng-include
  ng-if="dqiCtrl.singlePage"
  src="'single-page.html'">
</ng-include>
<ng-include
  ng-if="dqiCtrl.batch"
  src="'batch.html'">
</ng-include>
<!--Table-->
<ng-include src="'table.html'"></ng-include>
<!--Footer-->
<div class="pvdm-trowser-footer">
  <div class="form-group pvdm-trowser-secondary-actions">
    <button
      type="button"
      ng-click="dqiCtrl.resetTable()"
      class="btn btn-danger">
        <span translate>assessments.reset</span>
    </button>
  </div>

  <div class="form-group pvdm-trowser-primary-actions">
    <button
      type="button"
      ng-csv="dqiCtrl.getAssessmentList.records"
      csv-header="dqiCtrl.getHeaders()"
      class="btn btn-primary"
      filename="{{dqiCtrl.filename}}">
        <span translate>assessments.export_csv</span>
    </button>
  </div>

  <div class="form-group pvdm-trowser-primary-actions" 
       style="padding-right:5px; width:275px;">
    <input required
      type="text"
      placeholder="filename"
      class="form-control"
      ng-model="dqiCtrl.filename">
  </div>
</div>