<!--Header-->
<pvdm-page-header header="DQI MDS File Template">

  <pvdm-header-actions>
    <button
      type="button"
      ng-csv="assessmentsCtrl.getAssessmentList.records"
      csv-header="assessmentsCtrl.getHeaders()"
      class="btn btn-primary"
      filename="assessments.csv">
        <span translate>assessments.export_csv</span>
    </button>
    <button
      type="button"
      ng-click="assessmentsCtrl.addAssessment()"
      class="btn btn-default">
        <i pvdm-icon="circle-plus"></i>
        <span></span>
    </button>
  </pvdm-header-actions>

  <pvdm-stage
    active="true"
    class="pvdm-record-detail-stage">

    <ng-include src="'options-form.html'"></ng-include>

  </pvdm-stage>
</pvdm-page-header>
<!--Form-->
<div class="form-group">
  <form
    sf-schema="assessmentsCtrl.schema" 
    sf-model="assessmentsCtrl.model">
  </form>
</div>
<!--table-->
<div class="table-responsive">

    <table pvdm-sortable-table
      collection="assessmentsCtrl.assessments"
      class="table table-striped table-hover">
    <thead>
      <tr>
        <!--<th>Index</th>-->
        <th pvdm-sort-column="'Master_no'"><span translate>assessments.master_no</span></th>
        <th pvdm-sort-column="'Resident_identifier'"><span translate>assessments.resident_identifier</span></th>
        <th pvdm-sort-column="'AA8'"><span translate>assessments.reason</span></th>
        <th pvdm-sort-column="'AB1'"><span translate>assessments.admit_date</span></th>
        <th pvdm-sort-column="'A3'"><span translate>assessments.ref_date</span></th>
      </tr>
    </thead>
    <tbody>
      <tr
        dir-paginate="assessment in assessmentsCtrl.assessments.records
        | itemsPerPage : 4 track by $index">
        <!--<td>{{assessmentsCtrl.assessments.records.indexOf(assessment)}}</td>-->
        <td>{{assessment.Master_no}}</td>
        <td>{{assessment.Resident_identifier}}</td>
        <td>{{assessment.AA8}}</td>
        <td>{{assessment.AB1}}</td>
        <td>{{assessment.A3}}</td>
      </tr>
    </tbody>
  </table>

  <dir-pagination-controls></dir-pagination-controls>

  <div ng-if="!assessmentsCtrl.assessments.records.length">
    <div class="alert alert-info">
      <i style="display:inline" pvdm-icon="circle-info"></i>
      <span translate>assessments.none_selected</span>
    </div>
  </div>
</div>
