<!--Header-->
<pvdm-page-header header="DQI MDS File Template">

  <pvdm-header-actions>
    <button
      type="button"
      ng-click="edit()"
      class="btn btn-primary">
        <i pvdm-icon="circle-plus"></i>
        <span translate>Resident Generator</span>
    </button>
  </pvdm-header-actions>

</pvdm-page-header>
<!--Form-->
<div class="form-group">
  <form
    sf-schema="schema" 
    sf-model="model">
  </form>
</div>
<!--table-->
<div class="table-responsive">

  <table pvdm-sortable-table
    class="table table-striped">
    <thead>
      <tr>
        <th><span translate>Master Number</span></th>
        <th><span translate>Resident Identifier</span></th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="assessment in assessments.slice().reverse() track by $index">
        <td>{{assessment.Master_no}}</td>
        <td>{{assessment.Resident_identifier}}</td>
      </tr>
    </tbody>
  </table>

  <div ng-if="!assessments.length">
    <div class="alert alert-info">
      <i style="display:inline" pvdm-icon="circle-info"></i>
      <span translate>assessments.none_selected</span>
    </div>
  </div>
</div>
<div class="pvdm-trowser-footer">

  <button
    style="float:right"
    type="button"
    ng-click="addAssessment()"
    class="btn btn-primary pvdm-table"
    filename="assessments.csv">
      <i pvdm-icon="circle-plus"></i>
      <span></span>
  </button>
  <button
    style="float:right"
    type="button"
    ng-csv="getAssessmentList"
    csv-header="getHeaders()"
    class="btn btn-default pvdm-table"
    filename="assessments.csv">
      <span translate>Export List CSV</span>
  </button>

</div>