<nav
  class="navbar navbar-inverse navbar-fixed-top pvdm-site-header"
  ng-class="{
    unauthorized: !siteHeader.session.valid,
    authorized: siteHeader.session.valid
  }">

    <div class="navbar-brand">
      <pvdm-nav-icon ng-if="siteHeader.session.valid"></pvdm-nav-icon>
      <pvdm-logo></pvdm-logo>
    </div>

    <div class="site-header-left">
      <facility-indicator></facility-indicator>
    </div>

    <div ng-if="siteHeader.session.valid" class="site-header-right">
      <notification-icon></notification-icon>
      <help-icon></help-icon>
      <user-navigation></user-navigation>
    </div>

</nav>
