<form name="batchForm">
  <!--Number of Residents -->
  <div
    class="form-group"
    ng-class="{'has-error':batchForm.num_residents.$invalid && batchForm.num_residents.$touched}">
    <label
      class="control-label"
      for="num-residents">
        <span translate>assessments.num_res</span>
    </label>
    <input required
      id="num-residents"
      name="num_residents"
      type="text"
      class="form-control"
      style="width:10%"
      ng-model="dqiCtrl.num_residents"
      autocomplete="off"
      ng-pattern="dqiCtrl.REGEX.NUMERIC"
      maxlength="3">
    <div
      class="messages"
      ng-messages="batchForm.num_residents.$error"
      ng-if="batchForm.num_residents.$touched">
        <div class="help-block" ng-message="required">{{'app.required_field'|translate}}</div>
        <div class="help-block" ng-message="pattern">{{'app.invalid_characters'|translate}}</div>
    </div>
  </div>
  <!--Assessment Types -->
  <div class="form-group">
    <label
      class="control-label">
        <span translate>assessments.assessment_types</span>
    </label><br>
    <label class="checkbox-inline">
      <input 
        type="checkbox" 
        ng-model="dqiCtrl.assessmentType.admission">
          {{'assessments.admission'|translate}}</label>
    <label class="checkbox-inline">
      <input 
        type="checkbox" 
        ng-model="dqiCtrl.assessmentType.annual">
        {{'assessments.annual'|translate}}</label><br>
    <label class="checkbox-inline" style="margin-right:8px">
      <input 
        type="checkbox" 
        ng-model="dqiCtrl.assessmentType.quarterly">
        {{'assessments.quarterly'|translate}}</label>
    <label class="checkbox-inline">
      <input 
        type="checkbox" 
        ng-model="dqiCtrl.assessmentType.discharge">
        {{'assessments.discharge'|translate}}</label>
  </div>

  <div class="form-group">
    <button
      type="button"
      ng-click="dqiCtrl.populateTable(dqiCtrl.num_residents)"
      class="btn btn-default">
        <i pvdm-icon="circle-plus"></i>
        <span translate>assessments.add_batch</span>
    </button>
  </div>
</form>