<div class="pvdm-trowser-footer">
  <div class="form-group pvdm-trowser-secondary-actions">
    <button
      type="button"
      ng-click="dqiCtrl.resetTable()"
      class="btn btn-danger">
        <span translate>assessments.reset</span>
    </button>
  </div>

  <div class="form-group pvdm-trowser-primary-actions">
    <button
      type="button"
      ng-csv="dqiCtrl.getAssessmentList.records"
      csv-header="dqiCtrl.getHeaders()"
      class="btn btn-primary"
      filename="{{dqiCtrl.filename}}">
        <span translate>assessments.export_csv</span>
    </button>
  </div>

  <div class="form-group pvdm-trowser-primary-actions" 
       style="padding-right:5px; width:275px;">
    <input required
      type="text"
      placeholder="filename"
      class="form-control"
      ng-model="dqiCtrl.filename">
  </div>
</div>