<div class="form-group">
  <h1>{{dqiCtrl.model.AA8 | setTitle}} Assessment
    <span class="pull-right control-group">
      <button
        type="button"
        ng-click="dqiCtrl.addAssessment()"
        class="btn btn-default">
          <i pvdm-icon="circle-plus"></i>
          <span translate>assessments.add_record</span>
      </button>
    </span>
  </h1>
  <form
    sf-schema="dqiCtrl.schema"
    sf-form="dqiCtrl.form"
    sf-model="dqiCtrl.model">
  </form>
  <span class="pull-right control-group">
    <button
      type="button"
      ng-click="dqiCtrl.addAssessment()"
      class="btn btn-default">
        <i pvdm-icon="circle-plus"></i>
        <span translate>assessments.add_record</span>
    </button>
  </span>
</div>