/**
 * Temporary
 */

.radio.ng-scope {
  margin-top:0;
  }

[ng-cloak]{
  display: none!important;
  }

[data-toggle]:hover {
  text-decoration:none;
  }

.label [class*="glyphicon-"] {
  color: inherit!important;
  position: relative;
  top: 1px;
  }

.javascript-disabled {
  margin: 20px;
  }

tr td.checkbox-cell {
  vertical-align: middle!important;
  }

// @TODO: this applys to duplicate ssn validation on new resident create/edit. Needs a home.
// fyi: similar to validation styles in new user create...
.pvdm-inline-warning--icon {
  float: left;
  clear: right;
  width: 10%;
  display: block;
  margin-top: 10px;
  }

.pvdm-inline-warning--text {
  float: left;
  display: block;
  width: 90%;
  padding-left: 10px;
  }

.has-error   .control-label,
.has-success .control-label,
.has-success .help-block,
.has-success .form-control {
  color: #333333;
  }

.form-group {
  max-height: 235px;
  overflow-y: auto;
}

.form-control{
  color: #555;
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.control-label{
  text-color: #ddd;
  font-size: .9em;
  line-height: 1.7em;
}

.table-responsive{
  margin-bottom:100px
}