.pvdm-record-detail,
.pvdm-record-detail-value,
.pvdm-record-detail-label {
  display: block;
  }

.pvdm-record-detail-value {
  color: black;
  font-size: 18px;
  }

.pvdm-record-detail-label {
  color: #999;
  font-size: 11px;
  text-transform: uppercase;
  }

.pvdm-record-detail-meta {
  color: #999;
  font-size: 11px;
  strong {
    color: #666;
    }
  }

.pvdm-record-detail {
  margin-bottom: 10px;
  }