<pvdm-page-header
      ng-if="assessmentsCtrl.singlePage"
      header="DQI MDS File Template">
  <pvdm-header-actions>
    <button
      ng-if="assessmentsCtrl.singlePage"
      type="button"
      class="btn btn-default"
      ng-click="assessmentsCtrl.viewBatch()">
        <span translate>assessments.batch</span>
    </button>
  </pvdm-header-actions>
</pvdm-page-header>
<pvdm-page-header
      ng-if="assessmentsCtrl.batch"
      header="Batch Creation">
  <pvdm-header-actions>
    <button
      ng-if="assessmentsCtrl.batch"
      type="button"
      class="btn btn-default"
      ng-click="assessmentsCtrl.viewSinglePage()">
        <span translate>assessments.single</span>
    </button>
  </pvdm-header-actions>
</pvdm-page-header>