@import './lib/stylesheets/pvdm-bootstrap/mixins';

.pvdm-trowser-footer {
  @include clearfix;
  position: fixed;
  display: block;
  padding: 15px 25px 0 30px;
  bottom:0;
  left: 0;
  width:100%;
  height:65px;
  background-color:#333;
  }

.pvdm-trowser-primary-actions {
  float: right;
  }

.pvdm-trowser-secondary-actions {
  float: left;
  }
