.pvdm-logo {
  float: left;
  margin-top: 3px;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

