<div class="pvdm-accordian main-nav">

  <!-- Manage -->
  <pvdm-accordian-group
    classes="abaqis-assess"
    label="DQI"
    icon="cogwheel">

    <li>
      <a translate
        href="#/dqi/single"
        ng-click="nav.setAdmission()">
          assessments.admission_assessment
      </a>
    </li>

    <li>
      <a translate
        href="#/dqi/single"
        ng-click="nav.setQuarterly()">
          assessments.quarterly_assessment
      </a>
    </li>

    <li>
      <a translate
        href="#/dqi/single"
        ng-click="nav.setAnnual()">
          assessments.annual_assessment
      </a>
    </li>
    <li>
      <a translate
        href="#/dqi/single"
        ng-click="nav.setDischarge()">
          assessments.discharge_assessment
      </a>
    </li>
  </pvdm-accordian-group>

  <!-- Assess -->
  <pvdm-accordian-group
    classes="abaqis-manage"
    label="RQI"
    icon="pen">
    <!-- coming soon -->
  </pvdm-accordian-group>

</div>